@font-face
  font-family: "Proxima"
  src: url("../fonts/ProximaNovaBold.otf")
  font-weight: 700

@font-face
  font-family: "Proxima"
  src: url("../fonts/ProximaNovaLight.otf")
  font-weight: 300

@font-face
  font-family: "Proxima"
  src: url("../fonts/ProximaNovaRegular.otf")
  font-weight: normal

$web-big: 1920px
$web-medium: 1366px
$web-small: 1280px
$tablet-big: 1020px
$tablet-medium: 766px
$tablet-small: 646px
$phone-big: 555px
$phone-medium: 360px
$phone-small: 320px

$main-web-big: 1920px
$main-web-medium: 1366px
$main-tablet-landscape: 1025px
$main-tablet-portrait: 750px
$main-phone-big: 480px
$main-phone-small: 320px

@mixin button()
  display: flex
  justify-content: center
  align-items: center

